body{
    background-color: #fffbf7;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    margin-top: 285px;
    text-align: center;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
   font-weight: 900;
   font-size: 60px;
}
h4 {
    color: #46484c;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-bottom: 30px;
}
P {
    color: #8b8b8bcc;
}

.signup-form {
    height: 55px;
    display: block;
}

.boton2, input {
    overflow: visible;
}
.boton2 {
    color: #fff;
    background-color: #025157;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -10px;
    padding: 6px 20px;
    height: 100%;
    border-radius: 8px;
}
input {
    border: 1px solid #b6b6b6;
    width: 60%;
    max-width: 250px;
    padding: 2px 10px;
    height: 100%;
    border-radius: 8px;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 80px;
}
.header li {
    display: inline;
    margin: 0 15px;
}

.header ul {
    padding: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.header .logo {
    width: 20%;
}
.header .navbar {
    width: 60%;
    text-align: center;

}
.header .action {
    width: 20%;
    text-align: right;
    font-size: 14px;
}
.main .imagen2 {
    width: 80%;
    max-width: 1000px;
}
.header .action .boton {
    color: #fff;
    background-color: #67b54b;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}


.promo {
    display: flex;
    width: 80%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img{
    width: 120;
    margin-top: 10px;
}
.publish {
    margin-bottom: 100px;
   padding: 10px;
   flex: 1;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    font-weight: 900;
}

.publish .signup-form input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
    border-radius: 8px;
}

.publish .signup-form button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}

.publish .signup-form {
    height: 55px;
}

.publish .texto-publish {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .texto-gris-publish {
    color: #8b8b8bcc;
    margin-top: 15px;
}

